.create-test {
    background-image: linear-gradient(-90deg, rgb(36, 60, 95), rgb(149, 163, 184));
    padding-top: 60px;
    height: 100vh;
}

.create-tests {
    border: 2px solid rgb(36, 60, 95);
    box-shadow: 5px 7px rgba(36, 60, 95, 0.705);
    max-width: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.create-test-heading-teacher {
    color: rgb(36, 60, 95);
}

.create-test-heading-teacher::after {
    display: block;
    height: 3px;
    background-color: rgb(36, 60, 95);
    content: " ";
    width: 30%;
    margin: 0 auto;
    margin-top: 25px;
}

.input-field-tr-create-test {
    width: 90%;
    margin: 20px 5% 0 5%;
    padding: 7px;
    border-radius: 7px;
    border-style: none;
    border: 1px solid grey;
}

.input-field-tr-create-test-1 {
    width: 89%;
    margin: 20px 3% 0 3%;
    padding: 7px;
    border-radius: 7px;
    border-style: none;
    border: 1px solid grey;
}

.add-button-tr {
    margin: 30px 3% 30px 5%;
    width: 40%;
    padding: 5px;
    border-radius: 15px;
    color: rgb(36, 60, 95);
    border: 2px solid rgb(36, 60, 95);
}

.add-button-tr:hover {
    color: white;
    background-color: rgb(36, 60, 95);
}

@media only screen and (max-width: 300px) {
    .input-field-tr-create-test-1 {
        width: 85%;
    }
}