.bg-change-password {
    margin: 0;
    /* background-color: rgb(36, 60, 95); */
    background-image: linear-gradient(-90deg, rgb(36, 60, 95), rgb(149, 163, 184));
    padding-top: 160px;
    height: 100vh;
    flex: auto;
}

.change-password {
    border: 2px solid rgb(36, 60, 95);
    box-shadow: 3px 5px rgba(36, 60, 95, 0.705);
    max-width: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.heading-change-password {
    color: rgb(36, 60, 95);
}

.heading-change-password::after {
    display: block;
    height: 3px;
    background-color: rgb(36, 60, 95);
    content: " ";
    width: 30%;
    margin: 0 auto;
    margin-top: 40px;
}

.input-field-change-password {
    width: 90%;
    margin: 10px 5%;
    padding: 7px;
    border-radius: 7px;
    border-style: none;
    border: 1px solid grey;
}

.change-password-button {
    margin: 10px auto;
    width: 200px;
    padding: 5px;
    border-radius: 15px;
    color: rgb(36, 60, 95);
    border: 2px solid rgb(36, 60, 95);
    margin-bottom: 30px;
}

.change-password-button:hover {
    color: white;
    background-color: rgb(36, 60, 95);
}

@media only screen and (max-width: 400px) {
    .change-password {
        max-width: 100%;
        box-shadow: none;
        margin: 0px;
    }

    .bg-change-password {
        padding: 0px;
        background-image: none;
    }
}